<div class="main-container">
	<br><br>	
	<main class="site-main">
		<!-- Contact-Us Section -->	
		<div class="container-fluid no-left-padding no-right-padding contact-section">		
		</div>
		<!-- Page Content -->
		<div class="container-fluid no-left-padding no-right-padding page-content">
			<!-- Container -->
			<div class="container">
				<div align="center">
					<p>Entre em Contato</p>
					<h3>contato@queroimprimirfotos.com.br</h3><br>
					<a href="https://api.whatsapp.com/send?phone=5547996258219&text=Oi.%20Entre%20entre%20em%20contato,%20por%20favor"><h3>(47) 9 9625 8219 <img src="/images/whatsapp.png" width="40" height="40" alt=""></h3></a>
				</div>
				<p>Estamos à disposição para atendê-los da melhor forma. Entre em contato para ter informações mais detalhadas sobre o produto ou serviços desejado. Tire suas dúvidas, solicite um orçamento ou expresse sua opinião sobre nosso trabalho. Retornaremos seu contato o mais breve possível.</p><br>
			</div>
			<div class="container">
				<div class="contact-form">
					<form class="row">
						<div class="col-md-6 form-group">
							<input type="text" class="form-control rounded" style="background-color: grey;" placeholder="Seu Nome (obrigatório)" name="contact-name" id="input_name" required>
						</div>
						<div class="col-md-6 form-group">
							<input type="text" class="form-control rounded" style="background-color: grey;" placeholder="Seu E-mail (obrigatório)" name="contact-email" id="input_email" required>
						</div>
						<div class="col-md-12 form-group">
							<input type="text" class="form-control rounded" style="background-color: grey;" placeholder="Assunto: (Orçamento, dúvidas, reclamações)" name="contact-subject" id="input_subject">
						</div>
						<div class="col-md-12 form-group">
							<textarea class="form-control rounded" placeholder="Sua mensagem..." rows="5" name="textarea-message" id="textarea_message"></textarea>
						</div>
						<div class="col-md-12 form-group no-bottom-margin">
							<button id="btn_submit" name="submit" class="btn-danger btn-lg rounded">Enviar</button>
						</div>
						<div id="alert-msg" class="alert-msg"></div>
					</form>
				</div>
			</div>
		</div><!-- Container /- -->
	</div><!-- Page Content /- -->	
</main>

</div>
