
<div class="container" style="margin-top: 50px;">
	<div class="row">
		<div class="col-md-6">
			<div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 600px; height: 300px; overflow: hidden; visibility: hidden;">
				<!-- Loading Screen -->
				<div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
					<div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
					<div style="position:absolute;display:block;background:url('/res/site/slider/img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
				</div>
				<div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 600px; height: 300px; overflow: hidden;">
					<div data-p="112.50" style="display: none;">
						<img data-u="image" src="res/site/img/003.jpg" />
						<img data-u="thumb" src="res/site/img/thumb-003.jpg" />
					</div>
					<div data-p="112.50" style="display: none;">
						<img data-u="image" src="res/site/img/004.jpg" />
						<img data-u="thumb" src="res/site/img/thumb-004.jpg" />
					</div>
					<div data-p="112.50" style="display: none;">
						<img data-u="image" src="res/site/img/005.jpg" />
						<img data-u="thumb" src="res/site/img/thumb-005.jpg" />
					</div>
					<div data-p="112.50" style="display: none;">
						<img data-u="image" src="res/site/img/006.jpg" />
						<img data-u="thumb" src="res/site/img/thumb-006.jpg" />
					</div>
					<div data-p="112.50" style="display: none;">
						<img data-u="image" src="res/site/img/007.jpg" />
						<img data-u="thumb" src="res/site/img/thumb-007.jpg" />
					</div>
					<div data-p="112.50" style="display: none;">
						<img data-u="image" src="res/site/img/008.jpg" />
						<img data-u="thumb" src="res/site/img/008.jpg" />
					</div>
				</div>
				<div u="thumbnavigator" class="jssort03" style="position:absolute;left:0px;bottom:0px;width:600px;height:60px;" data-autocenter="1">
					<div style="position: absolute; top: 0; left: 0; width: 100%; height:100%; background-color: #000; filter:alpha(opacity=30.0); opacity:0.3;"></div>
					<div u="slides" style="cursor: default;">
						<div u="prototype" class="p">
							<div class="w">
								<div u="thumbnailtemplate" class="t"></div>
							</div>
							<div class="c"></div>
						</div>
					</div>
				</div>
				<span data-u="arrowleft" class="jssora02l" style="top:0px;left:8px;width:55px;height:55px;" data-autocenter="2"></span>
				<span data-u="arrowright" class="jssora02r" style="top:0px;right:8px;width:55px;height:55px;" data-autocenter="2"></span>				
			</div>
		</div>
		<div class="col-md-6" align="center">
			<a href="" class="art"><br><br></a>
			<h4>Cartão de visita</h4>
			<p >Criação de cartões de visita totalmente personalizados e criação de logo marcas. Montamos seu cartão, você define todas as artes e em seguida seu cartão é impresso numa gráfica profissional. </p>
		</div>
		<div class="col-md-6">
			<div id="works-grid" style="margin-top: 20px;">
				<article class="work-item design">
					<div class="work-wrapper">
						<div class="work-thumbnail"> <img src="res/site/img/B6.jpg"> </div>	
						<a class="work-popup image-popup" href="res/site/img/B6.jpg"><i class="fa fa-expand"></i></a> 
					</div>
				</article>
				<div class="d-none d-md-block">							
					<article class="work-item design">
						<div class="work-wrapper">
							<div class="work-thumbnail"> <img src="res/site/img/B7.jpg"> </div>	
							<a class="work-popup image-popup" href="res/site/img/B7.jpg"><i class="fa fa-expand"></i></a> 
						</div>
					</article>
					<article class="work-item design">
						<div class="work-wrapper">
							<div class="work-thumbnail"> <img src="res/site/img/B8.jpg"> </div>	
							<a class="work-popup image-popup" href="res/site/img/B8.jpg"><i class="fa fa-expand"></i></a> 
						</div>
					</article>
					<article class="work-item design">
						<div class="work-wrapper">
							<div class="work-thumbnail"> <img src="res/site/img/B9.jpg"> </div>	
							<a class="work-popup image-popup" href="res/site/img/B9.jpg"><i class="fa fa-expand"></i></a> 
						</div>
					</article>
				</div>
			</div>			
		</div>
		<div class="col-md-6" align="center">
			<a href="" class="art"><br><br></a>
			<h4>Folder</h4>
			<p >Criação de banners totalmente personalizados. Montamos seu folder, você define todas as artes e em seguida seu folder é impresso numa gráfica profissional ou é impresso em papel fotográfico. </p>		
		</div>
		<div class="col-md-6">
			<div id="works-grid" style="margin-top: 20px;">
				<div class="row" style="margin-top: 40px;">
					<article class="col align-self-start work-item design">
						<div class="work-wrapper">
							<div class="work-thumbnail"> <img src="res/site/img/Modelo-1.jpg"> </div>	
							<a class="work-popup image-popup" href="res/site/img/Modelo-1.jpg"><i class="fa fa-expand"></i></a> 
						</div>
					</article>										
					<article class="col align-self-center work-item design">
						<div class="work-wrapper">
							<div class="work-thumbnail"> <img src="res/site/img/Modelo-2.jpg"> </div>	
							<a class="work-popup image-popup" href="res/site/img/Modelo-2.jpg"><i class="fa fa-expand"></i></a> 
						</div>
					</article>				
			
				</div>
			</div>			
		</div>
		<div class="col-md-6" align="center">
			<a href="" class="art"><br><br></a>
			<h4>Convites</h4>
			<p >Criação de convites totalmente personalizados para casamentos, aniversários, batizados, etc. Montamos seu convite, você define todas as artes e em seguida seu convite é impresso numa gráfica profissional ou é impresso em papel fotográfico.  </p>
		</div>		
		<div class="col-md-6">
			<div id="works-grid" style="margin-top: 20px;">
				<div class="row">
					<article class="col align-items-center work-item design">
						<div class="work-wrapper">
							<div class="work-thumbnail"> <img src="res/site/img/rest.jpg"> </div>	
							<a class="work-popup image-popup" href="res/site/img/rest.jpg"><i class="fa fa-expand"></i></a> 
						</div>
					</article>					
				</div>
			</div>			
		</div>
		<div class="col-md-6 align-self-center" align="center">			
			<h4>Restauração de imagens</h4>
			<p >  </p>
		</div>
		<div class="col-md-6">
			<div id="works-grid" style="margin-top: 20px;">
				<div class="row">
					<article class="col work-item design">
						<div class="work-wrapper">
							<div class="work-thumbnail" style="width: 300px; height: 300px;"> <img src="res/site/img/retoques_gr.jpg" style="margin-left: 110px;"> </div>	
							<a class="work-popup image-popup" href="res/site/img/retoques_gr.jpg"><i class="fa fa-expand"></i></a> 
						</div>
					</article>					
				</div>
			</div>			
		</div>
		<div class="col-md-6 align-self-center" align="center">			
			<h4>Tratamento de imagens</h4>
			<p > Tratamento profissional de imagens, correção de imperfeições e marcas de expressão, suavisação na pele e tratamentos diversos.   </p>
		</div>
		<div class="col-md-6">
			<div id="works-grid" style="margin-top: 20px;">
				<div class="row" style="margin-top: 40px;">
					<article class="col align-self-start work-item design">
						<div class="work-wrapper">
							<div class="work-thumbnail"> <img src="res/site/img/c6.jpg"> </div>	
							<a class="work-popup image-popup" href="res/site/img/c6.jpg"><i class="fa fa-expand"></i></a> 
						</div>
					</article>										
					<article class="col align-self-center work-item design">
						<div class="work-wrapper">
							<div class="work-thumbnail"> <img src="res/site/img/c7.jpg"> </div>	
							<a class="work-popup image-popup" href="res/site/img/c7.jpg"><i class="fa fa-expand"></i></a> 
						</div>
					</article>				
					<article class="col align-self-end work-item design">
						<div class="work-wrapper">
							<div class="work-thumbnail"> <img src="res/site/img/c8.jpg"> </div>	
							<a class="work-popup image-popup" href="res/site/img/c8.jpg"><i class="fa fa-expand"></i></a> 
						</div>
					</article>				
				</div>
			</div>			
		</div>
		<div class="col-md-6 align-self-center" align="center">			
			<h4>Montagens diversas</h4>
			<p >  </p>
		</div>
		<div class="col-md-6">
			<div id="works-grid" style="margin-top: 20px;">
				<div class="row" style="margin-top: 40px;">
					<article class="col align-self-start work-item design">
						<div class="work-wrapper">
							<div class="work-thumbnail"> <img src="res/site/img/ed.png"> </div>	
							<a class="work-popup image-popup" href="res/site/img/ed.png"><i class="fa fa-expand"></i></a> 
						</div>
					</article>										
					<article class="col align-self-center work-item design">
						<div class="work-wrapper">
							<div class="work-thumbnail"> <img src="res/site/img/ed.jpg"> </div>	
							<a class="work-popup image-popup" href="res/site/img/ed.jpg"><i class="fa fa-expand"></i></a> 
						</div>
					</article>										
				</div>
			</div>			
		</div>
		<div class="col-md-6 align-self-center" align="center">			
			<h4>Edição de vídeo</h4>
			<p > Edição profissional de vídeo. Editamos desde vídeos simples e curtos para redes sociais até DVDs completos com menu e submenus. </p>
		</div>
		<div class="col-md-6">
			<div id="works-grid" style="margin-top: 20px;">
				<div class="row" style="margin-top: 40px;">
					<article class="col align-self-start work-item design">
						<div class="work-wrapper">
							<div class="work-thumbnail"> <img src="res/site/img/a1.jpg"> </div>	
							<a class="work-popup image-popup" href="res/site/img/a1.jpg"><i class="fa fa-expand"></i></a> 
						</div>
					</article>										
					<article class="col align-self-center work-item design">
						<div class="work-wrapper">
							<div class="work-thumbnail"> <img src="res/site/img/a2.jpg"> </div>	
							<a class="work-popup image-popup" href="res/site/img/a2.jpg"><i class="fa fa-expand"></i></a> 
						</div>
					</article>
					<article class="col align-self-center work-item design">
						<div class="work-wrapper">
							<div class="work-thumbnail"> <img src="res/site/img/a3.jpg"> </div>	
							<a class="work-popup image-popup" href="res/site/img/a3.jpg"><i class="fa fa-expand"></i></a> 
						</div>
					</article>											
				</div>
			</div>			
		</div>
		<div class="col-md-6 align-self-center" align="center">			
			<h4>Diagramação</h4>
			<p > Diagramação e montagem de álbuns, livros, revistas, cardápios, etc. </p>
		</div>
		<div class="col-md-12 align-self-center" align="center">	<br>	<br>	<br>		
			<p>Entre em contato e faça seu orçamento</p>
			<h3>contato@queroimprimirfotos.com.br</h3><br>
			<a href="https://api.whatsapp.com/send?phone=5547996258219&text=Oi.%20Entre%20entre%20em%20contato,%20por%20favor"><h3>(47) 9 9625 8219 <img src="res/site/img/whatsapp.png" width="40" height="40" alt=""></h3></a>
		</div>
	</div>
</div>
<br>     

